---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Torkil in Tech"
  description="A front-end developer in love with storytelling"
>
  <h1 class="text-9xl uppercase">
    A front-end developer in love with storytelling
  </h1>
</Layout>
