---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Torkil in Tech"
  description="A front-end developer in love with storytelling"
>
  <h1 class="text-9xl font-thin uppercase">
    A <span class="font-black">front-end</span> developer in love with <span
      class="font-black">storytelling</span
    >
  </h1>
</Layout>
