---

---

<aside class="relative my-20 text-center">
  <h2 class="relative top-3 text-2xl font-thin uppercase">
    Bits and Bobs from <strong class="font-black">the Toolbox</strong>
  </h2>
  <div
    class="grid auto-cols-min grid-cols-3 gap-4 rounded-2xl bg-stone-200 p-4 text-sm font-semibold dark:bg-zinc-700"
  >
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">React</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Svelte</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Angular</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Tailwind</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Sass</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">CSS-in-JS</div>
    <div
      class="col-span-3 rounded border border-dashed border-black p-2 font-normal uppercase dark:border-white"
    >
      what the next project requires
    </div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">TypeScript</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Vanilla JS</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">ReScript</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">REST</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">GraphQL</div>
    <div class="rounded bg-stone-50 p-2 dark:bg-zinc-800">Astro</div>
  </div>
</aside>
