---
import Card from "./Card.astro"
---

<aside>
  <Card icon="ph--rocket-launch-bold">
    <p>
      React,
      Svelte,
      Angular,
      Tailwind,
      Sass,
      CSS-in-JS,
      TypeScript,
      Vanilla JS,
      ReScript,
      REST,
      GraphQL,
      Astro...<br/>
      <br/>
      I go where the project needs me to
    </p>
  </Card>
</aside>
