---
import Card from "./Card.astro";
---
<aside>
  <Card icon="ph--graduation-cap-bold">
    <p>
      I graduated from <a class="link-dark dark:link-light" href="https://www.rts.dk/in-english">Roskilde Technical College</a> back in 2018 which included a three year stint with the great people at <a class="link-dark dark:link-light" href="https://www.1508.dk/">1508</a>.
    </p>
  </Card>
</aside>