---

---

<span
  class="relative mx-0.5 inline-block font-semibold"
>
  <span
    class="absolute -inset-x-1 inset-y-px -z-10 inline-block rounded-sm bg-gradient-to-t to-80% from-orange-300 dark:from-fuchsia-800"
  ></span>
  <slot />
</span>
