---

---

<span
  class="relative mx-0.5 inline-block font-semibold text-white dark:text-zinc-900"
>
  <span
    class="absolute -inset-x-1 -inset-y-px -z-10 inline-block -skew-y-1 skew-x-1 rounded-sm bg-zinc-800 dark:bg-stone-50"
  ></span>
  <slot />
</span>
