---
import "../base.css";

import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      function isDarkScheme() {
        const sessionData = window.sessionStorage.getItem("darkScheme");

        if (sessionData) {
          return "true" === sessionData;
        }

        return window.matchMedia("(prefers-color-scheme: dark)").matches;
      }

      if (isDarkScheme()) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body
    class="relative overflow-x-hidden bg-stone-100 bg-gradient-to-b from-orange-200/50 to-stone-100 font-sans text-black dark:bg-stone-900 dark:from-stone-900 dark:to-orange-950/50 dark:text-white"
  >
    <div
      class="mx-auto max-w-screen-sm px-2 md:max-w-screen-md lg:max-w-screen-lg"
    >
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
