---
import "../base.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      function isDarkScheme() {
        const sessionData = window.sessionStorage.getItem("darkScheme");

        if (sessionData) {
          return "true" === sessionData;
        }

        return window.matchMedia("(prefers-color-scheme: dark)").matches;
      }

      if (isDarkScheme()) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body
    class="relative bg-white font-sans text-lg text-zinc-900 dark:bg-black dark:text-white"
  >
  <div class="z-0 bg-gradient-to-r from-lime-100 to-amber-100 dark:from-indigo-900 dark:to-violet-900 absolute top-0 bottom-0 left-0 right-0 dark:opacity-50"></div>
  <div class="relative z-10">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </div>
  </body>
</html>
